<ion-content class="full-background">
  <!-- Margin to account for header in app component -->
  <div class="ion-padding" style="margin-top: 60px;">
    <div
      style="background-color: white; padding: 6px; border-radius: 7px; margin-top: 10px; box-shadow: 0 10px 20px rgba(0, 9, 10, 0.384);">
      <h3 style="margin-left: 6px;">How do you feel?</h3>

      <!-- The two views for tracking fatigue -->
      <ion-segment value="sliderViewSegment" (ionChange)="viewChanged($event)">
        <ion-segment-button value="sliderViewSegment">
          <ion-label>Slider View</ion-label>
        </ion-segment-button>
        <ion-segment-button value="listViewSegment">
          <ion-label>List View</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div style="--ion-background-color: rgb(255, 255, 255);">
        <!-- The slider view for fatigue level -->
        <div>
          <div *ngIf="currentView === 'sliderViewSegment'" style="padding-top: 5px;">
            <ion-list>
              <ion-item>
                <ion-range style="--knob-background:rgb(60, 190, 241); --knob-size: 12px;" id="slider" min="1" max="7"
                  step="1" color="primary" [(ngModel)]="position" (ngModelChange)="rangeChanged($event)" pin="true"
                  snaps="true">
                  <ion-icon color="secondary" size="medium" slot="start" name="sunny"></ion-icon>
                  <ion-icon color="danger" size="medium" slot="end" name="bed"></ion-icon>
                </ion-range>
              </ion-item>
              <ion-item *ngIf="position === 0">{{sliderValue}}</ion-item>
              <ion-item *ngIf="position !== 0">{{position}}: {{sliderValue}}</ion-item>
            </ion-list>
          </div>

          <!-- The list view for fatigue level -->
          <div *ngIf="currentView === 'listViewSegment'" style="padding-top: 5px;">
            <ion-radio-group allow-empty-selection="true">
              <ion-item *ngFor="let item of sleepScaleValues" (ionFocus)="radioFocus(item.value)"
                (ionSelect)="radioSelect(item.value)" (ionDeselect)=radioDeselect()>

                <ion-label>
                  {{item.value}}:
                  <span class="ion-text-wrap">{{item.text}}</span></ion-label>
                <ion-radio slot="start" name="{{item.value}}" value="{{item.value}}"
                  checked="{{getChecked(item.value)}}" color="{{item.color}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>

          <div>
            <ion-button size="small" (click)="submitRating()" disabled={{getDisabled()}} style="float: right;">Submit
            </ion-button>
          </div>
        </div>
        <div style="display: inline-grid;">
          <p> <small>Use the Slider or List View to choose a rating, then click submit to
              enter a new log.</small></p>
        </div>
      </div>
    </div>
  </div>
</ion-content>