@import "~@ionic/angular/css/core.css";

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "PoiretOne";
  src: url("./assets/fonts/PoiretOne-Regular.ttf");
}

@font-face {
  font-family: "PoppinsReg";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsLight";
  src: url("./assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "RobotoReg";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

th {
  word-wrap: break-word;
  color: #000000;
  font-family: "PoppinsReg";
}

.button-solid {
  --background: rgb(60, 190, 241);
  --background-focused: rgb(60, 190, 241);
  --background-hover: #759de0;
  --color: var(--ion-color-primary-contrast, #fff);
  --color-activated: var(--ion-color-primary-contrast, #fff);
  --color-focused: var(--ion-color-primary-contrast, #fff);
}

table {
  border-spacing: 5px;
}

table {
  border-collapse: separate;
  border-spacing: 8px 15px;
  margin-left: -3px;
  margin-bottom: 30px;
  overflow-y: scroll;
}

td {
  font-size: 14px;
  display: table-cell;
  word-break: break-all;
}

ion-tab-bar {
  font-family: "PoppinsReg";
}

h3 {
  font-family: "PoppinsLight";
}

.alert-delete {
  color: rgb(240, 64, 64) !important;
}

.item-label {
  font-size: 13.5px;
}

.item {
  font-size: 13.5px;
  font-family: "PoppinsReg";
}

ion-content {
  font-family: "RobotoReg";
}

.star-background {
  --background: url(./assets/images/star.png) no-repeat bottom left / 20%;
  background-size: 10px;
  --background-repeat: no-repeat;
  background-color: white;
  margin-left: 10px;
}

.star-background-two {
  --background: url(./assets/images/star2.png) no-repeat bottom right / 50%;
  background-size: 10px;
  --background-repeat: no-repeat;
  background-color: white;
  margin-left: 10px;
}

.full-background {
  background-color: rgb(134, 202, 236);
  // background-color: #759de0;
  --background: url(./assets/images/background.png) no-repeat center/cover
    fixed;
  // background-color: #ffffff;
}

.ios {
  .title-background {
    background: url(./assets/images/zzz.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  ion-title {
    font-family: "PoiretOne";
  }
}

.instructions {
  font-family: "PoppinsReg";
}

ion-title {
  text-align: center;
  font-size: 1.44em;
}

.sc-ion-segment-md-h {
  font-family: "PoppinsReg";
}

.sc-ion-segment-ios-h {
  --background: transparent;
  --background-hover: rgba(var(--ion-color-primary-rgb, 56, 128, 255), 0.1);
  --background-activated: rgba(
    var(--ion-color-primary-rgb, 56, 128, 255),
    0.16
  );
  --background-checked: rgb(60, 190, 241);
  --color: rgb(60, 190, 241);
  --color-checked: var(--ion-color-primary-contrast, #fff);
  --color-disabled: rgba(var(--ion-color-primary-rgb, 56, 128, 255), 0.3);
  --color-checked-disabled: rgba(
    var(--ion-color-primary-contrast-rgb, 255, 255, 255),
    0.3
  );
  --border-color: rgb(60, 190, 241);
  --indicator-color: transparent;
}

.tab-selected {
  color: rgb(60, 190, 241);
}

.android {
  .title-background {
    background: url("./assets/images/zzz.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

ion-radio {
  margin-left: -10px;
  margin-right: 6px;
}

.ion-text-wrap::before {
  content: "";
  margin-left: -15px;
}

.ion-text-wrap,
[text-wrap] {
  white-space: normal;
  margin-left: 20px;
  -webkit-box-decoration-break: clone;
}
